coverage==4.2
dj-database-url==0.3.0
Django==2.0.2
django-extensions==2.0.0
django-test-without-migrations==0.6
psycopg2==2.7.1
python-decouple==3.0
pytz==2018.3
six==1.11.0
djangorestframework==3.7.7
APScheduler==3.5.1
model-mommy==1.5.1
parameterized==0.6.1
whitenoise==3.3.0
